{{template "Header"}}
<h1>Welcome to our side</h1>
<form action="/loginauth" method="post">
    <label for="">User Name</label>
    <br>
    <input type="text" name="username" id="">
    <br>
    <label for="">password</label>
    <br>
    <input type="password" name="password" id="">
    <br>
    <input type="submit" value="Login">
</form>
</body>

</html>