<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404 page</title>
</head>
<body>
    <a href="/">Home</a>
    <a href="/about">about</a>
    <h2 style="color: red; text-align: center; margin-top: 20%;">Page can't not found
    <br> 404 Page</h2>
</body>
</html>