{{template "Header"}}

<div class="login">
    <form action="/profile">
        <label for="">user name</label>
        <input type="text">
        <br>
        <label for="">password</label>
        <input type="password">
        <br>
        <input type="submit" value="Login">
    </form>
</div>


</body>

</html>