{{template "Header"}}

<div class="login">
    <form action="/regauth">
        <label  for="">user name</label>
        <input name="username" type="text">
        <br>
        <label for="">password</label>
        <input name="password" type="password">
        <br>
        <input type="submit" value="Register">
    </form>
</div>


</body>

</html>