<!DOCTYPE html>
<html lang="en">

<head>
    <title>one template</title>
</head>

<body>
    {{if.}}
    {{if eq 100 .}} This section is valid {{else}} This value is {{.}} {{end}}
    {{end}}
</body>

</html>