{{template "Header"}}

<body>
    <form action="/thanks" method="GET">
        <input type="text" placeholder="Your Name" name="username" id="">
        <br>
        <br>
        <input type="text" placeholder="Your Country" name="data" id="">
        <input type="submit" value="Submit">
    </form>
</body>

</html>